<div class="login-container">

  <div class="login-card">

    <!-- IZQUIERDA -->
    <div class="login-left">

      <h2>Inicia sesión aquí</h2>

      <form>

        <div class="input-group">
          <input type="email" placeholder="Correo electrónico">
        </div>

        <div class="input-group">
          <input type="password" placeholder="Contraseña">
        </div>

        <div class="options">
          <label>
            <input type="checkbox"> Recuérdame
          </label>
        </div>

        <button class="btn-login" >
          Iniciar Sesión
        </button>

      </form>

    </div>

    <!-- DERECHA -->
    <div class="login-right">
      <div class="overlay">
        <h2>Comienza tu viaje ahora</h2>

        <p>
          Si aún no tienes una cuenta,
          únete a nosotros y comienza tu viaje
        </p>

        <button class="btn-register" routerLink="../registro/">
          Registrarse →
        </button>

      </div>
    </div>

  </div>

</div>
