.libros-container{
  padding:40px;
}

h1{
  margin-bottom:20px;
}

.buscador{
  margin-bottom:30px;
}

.buscador input{
  width:300px;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.libros-grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap:20px;
}

.libro-card{
  background:white;
  border-radius:10px;
  padding:20px;
  box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.libro-card h3{
  margin-bottom:10px;
}

.disponible{
  color:green;
  font-weight:bold;
}

.no-disponible{
  color:red;
  font-weight:bold;
}

button{
  margin-top:10px;
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#6b7280;
  color:white;
  cursor:pointer;
}
.categoria{
  background:#e5e7eb;
  display:inline-block;
  padding:4px 10px;
  border-radius:10px;
  font-size:12px;
  margin-top:5px;
}
