.biblioteca-bg{
  background:#F5F1E8;
  min-height:100vh;
}

.titulo-biblioteca{
  color:#2C3E50;
  font-weight:700;
}

.libro-card{
  border:none;
  border-radius:12px;
  box-shadow:0 6px 12px rgba(0,0,0,0.08);
  transition:all 0.2s;
}

.libro-card:hover{
  transform:translateY(-5px);
}

.card-title{
  color:#6B4F4F;
  font-weight:600;
}

.categoria{
  background:#EAEAEA;
  padding:5px 12px;
  border-radius:20px;
  font-size:12px;
  display:inline-block;
}

.disponible{
  color:#2E7D32;
  font-weight:600;
}

.no-disponible{
  color:#C0392B;
  font-weight:600;
}

.btn-biblioteca{
  background:#6B4F4F;
  color:white;
  border:none;
}

.btn-biblioteca:hover{
  background:#5A3E3E;
}

i{
  color:black;
  margin-right:6px;
}
.portada-libro{
  height:180px;
  background:#e5e7eb;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
}
