.titulo{
font-weight:600;
margin-bottom:25px;
}

.tabla-prestamos{
background:white;
border-radius:10px;
overflow:hidden;
}

.portada{
height:220px;
object-fit:contain;
}

.btn-biblioteca{
background:#6B4F4F;
color:white;
border:none;
}

.btn-biblioteca:hover{
background:#4a3630;
}
