<div class="register-container">

  <div class="register-card">

    <!-- LADO IZQUIERDO (IMAGEN) -->
    <div class="register-left">
      <div class="overlay">

        <h2>Bienvenido</h2>

        <p>
          Si ya tienes una cuenta puedes iniciar sesión
        </p>

        <button class="btn-login" routerLink="../login/login.component.html">
          Iniciar sesión →
        </button>

      </div>
    </div>

    <!-- LADO DERECHO (FORMULARIO) -->
    <div class="register-right">

      <h2>Crear cuenta</h2>

      <form>

        <div class="input-group">
          <input type="text" placeholder="Nombre completo">
        </div>

        <div class="input-group">
          <input type="email" placeholder="Correo electrónico">
        </div>

        <div class="input-group">
          <input type="password" placeholder="Contraseña">
        </div>


        <button class="btn-register">
          Registrarse
        </button>

      </form>

    </div>

  </div>

</div>
